button{
  height: 40px;
  width: 150px;
  border: 2px dotted gray;
  border-radius: 10px;
  background-color: rgb(205, 218, 228)
}
button:hover{
  color: white;
  background-color: green;
}
div{
  text-align: center;
  margin-top: 300px;
}
